/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

/* CSS Variables */

:root {
    --primary-font: "Parkinsans", sans-serif;
    --primary-color: #133c55;
    --secondary-color: #386fa4;
    --tertiary-color: #91e5f6;
    --quarternary-color: #59a5d8;
    --color: #84d2f6;
}

/* Global Styles */

html, 
body {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
}

h1,
#quiz-parameters-container h2,
#logo,
h4,
h4,
strong {
    color: var(--primary-color);
}

#start-screen-container h2,
#quiz-question-container h2,
#quiz-question-container h3,
#quiz-parameters-container h3,
#results-container h2,
#results-container h3  {
    font-weight: 600;
}

.card {
    max-width: 600px; 
    width: 100%;
    padding: 20px;
    border: none;
    background-color: var(--tertiary-color);
}

.section {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;   
}

#start-screen-container button,
#parameter-start-button,
#next-button,
#play-again-button {
    text-align: center;
    border: none;
    font-size: 18px;
    background-color: var(--quarternary-color);
    font-weight: 600;
}

i {
    margin-right: 8px;
}

/* Start Screen */

h1 {
    font-weight: bold;
}

#start-screen-container button {
    padding: 10px 20px;
}

/* Quiz Parameters Screen */

#quiz-parameters-container h2 {
    font-weight: bold;
}

#quiz-parameters-container select {
    margin-bottom: 15px;
    border: none;
    font-size: 20px;
    background-color: var(--color);
    font-weight: 500;
}

#quiz-parameters-container select:focus {
   box-shadow: none;
}

#parameter-start-button {
    width: 150px;
}

/* Quiz Question Screen */

.section h4 {
    font-size: 16px;
    font-weight: bold;
}

#timer {
    border: 2px solid black;
    width: 80%;
    height: 25px;
}

#button-container {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

#button-container .btn {
    border-radius: 5px;
    border: none;
    font-size: 20px;
    line-height: 25px;
    background-color: var(--color);
    font-weight: 500;
}

#next-button {
    width: 100px;
}

/* Results Screen */

#play-again-button {]
    width: 200px;
}

